.about-me::after {
	margin: 20px auto;
}

.col-md-6 {
    position: relative;
    left: 0px;
    top: 0px;
}

.aboutme  {
	background-image: "./assets/images/img-02.jpg";
}

.image-column-mobile-left {
    display: none;
}

.about_container {
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.photo, .texte {
    width: 50%;
    padding: 2%;
}

.photo {
    width: 40%;
}

.photo>img {
    display: block;
    margin: auto;
    width: 100%;
}

.texte {
    width: 60%;
    display: flex;
    font-size: 20px;
    text-align: left;
}

.texte>p{
    margin: auto;
}

#old_map {
    height: 500px;
    position: relative;
    display: flex;
}

#old_map>.reveal {
    position: static;
    margin: auto;
    width: 50%;
    text-align: center;
    max-width: 520px;
}

.footer-container {
    margin-top: 0;
}
  

@media screen and (max-width: 1024px){
    .image-column-mobile {
        display: block !important;
        height: 250px;
        background-position: top;
    }
    .image-column-mobile-3 {
        background-position: center;
    }
    .about_container {
        flex-direction: column;
    }
    .photo, .texte {
        margin: auto;
        width: 100%;
    }
    .texte {
        padding-top: 20px;
        text-align: justify;
    }
    #old_map>.reveal {
        width: 90%;
    }

    .footer-text {
        text-align: center;
    }
    .fix-mobile-title h1 {
        font-size: 32px;
    }
    .fix-mobile-title h2 {
        font-size: 30px;
    }
}

h2::after {
  background-color: #33c4dd;
}