.about-me::after {
	margin: 20px auto;
}
/* 
.col-md-offset-6 {
    margin-left: 49%;
} */

.col-md-6 {
    position: relative;
    left: 0px;
    top: 0px;
}

.aboutme  {
	background-image: "./assets/images/img-02.jpg";
}

.image-column-mobile-left {
    display: none;
}

@media screen and (max-width: 1024px){
    .image-column-mobile {
        display: block !important;
        height: 250px;
        background-position: top;
    }
    .image-column-mobile-3 {
        background-position: center;
    }
}
