.about-me::after {
	margin: 20px auto;
}
/* 
.col-md-offset-6 {
    margin-left: 49%;
} */

.col-md-6 {
    position: relative;
    left: 0px;
    top: 0px;
}

.aboutme  {
	background-image: "./assets/images/img-02.jpg";
}

.image-column-mobile-left {
    display: none;
}

.about_container {
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.photo, .texte {
    width: 50%;
    padding: 2%;
}

.photo {
    width: 40%;
}

.photo>img {
    display: block;
    margin: auto;
    width: 100%;
}

.texte {
    width: 60%;
    display: flex;
    font-size: 20px;
    text-align: left;
}

.texte>p{
    margin: auto;
}
  

@media screen and (max-width: 1024px){
    .image-column-mobile {
        display: block !important;
        height: 250px;
        background-position: top;
    }
    .image-column-mobile-3 {
        background-position: center;
    }
    .about_container {
        flex-direction: column;
    }
    .photo, .texte {
        margin: auto;
        width: 100%;
    }
    .texte {
        padding-top: 20px;
        text-align: justify;
    }
}